[submodule "decodeless/header"]
	path = decodeless_header
	url = https://github.com/decodeless/header.git
[submodule "decodeless/offset_ptr"]
	path = decodeless_offset_ptr
	url = https://github.com/decodeless/offset_ptr.git
